.character-list-item {
    display: flex;

    gap: 5px;

    padding-top: 10px;

    border-top: 1px solid #000000;

    &--info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        min-width: 512px;
    }

    &--name {
        font-size: 24px;
        font-weight: 600;

        &.child-item {
            font-size: 20px;
        }
    }

    &--full-name {
        font-size: 18px;
    }

    &--description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .value-item {
            .value-label {
                font-size: 16px;
                font-weight: 600;
            }
            .value-content {
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
            }
        }
    }

    &--image {
        display: flex;

        img {
            object-fit: contain;

            max-width: 512px;
            max-height: 512px;
        }

        &.child-item {
            img {
                max-width: 256px;
                max-height: 256px;
            }
        }
    }
    &.child-item {
        margin-left: 20px;

        border-top: 1px solid #c5c5c5;

        .character-list-item {
            &--info {
                min-width: calc(512px - 20px);
            }

            &--title {
                font-size: 20px;
            }

            &--image {
                img {
                    max-width: 256px;
                    max-height: 256px;
                }
            }
        }
    }
}
