@import "~style/vars";

.family-tree {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    &--content,
    &--wrapper {
    }

    .hideSvgSoThatItSupportsFirefox {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
