@import "~style/vars";

.flow-chart {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    &--content,
    &--wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }
}
