.character-node {
    position: relative;
    align-items: center;

    display: grid;

    grid-template-columns: [edge-left] 10px [image-left] 150px [image-right icons-left] 50px [icons-right] 10px [edge-right];
    grid-template-rows: [edge-top] 10px [image-top] 200px [image-bottom name-top] 50px [name-bottom] 10px [edge-bottom];

    gap: 0;

    cursor: pointer;

    &--background {
        grid-area: edge-top / edge-left / edge-bottom / edge-right;

        width: -webkit-fill-available;
        height: -webkit-fill-available;

        box-sizing: border-box;

        background-color: white;

        border: 2px solid black;
        border-radius: 15px;
    }

    &--image {
        grid-area: image-top / image-left / image-bottom / image-right;

        border-radius: 10px;
    }

    &--name {
        grid-area: name-top / image-left / name-bottom / icons-right;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: -webkit-fill-available;
        width: -webkit-fill-available;

        &--text {
            flex-grow: 1;

            overflow: hidden;

            font-size: 24px;
            font-weight: 600;
            line-height: 1;

            text-align: center;
        }
    }

    &--handle {
        position: absolute;

        background-color: transparent;
        border: none;

        &.handle {
            &-mother {
                left: 25%;
            }
            &-center {
                left: 50%;
            }
            &-father {
                left: 75%;
            }
            &-right {
                top: 50%;
                right: 0;
            }
        }
    }
}
